<div class="m-5" >
  <h1>All the  artworks</h1>
  <div data-controller="insert-in-list">
    <div data-insert-in-list-target="list">
      <% @artworks.each do |artwork|  %>
        <%= render "artwork", artwork: artwork %>
        <p><%= link_to "View", artwork_path(artwork) %></p>
      <% end %>
        <%# # <span data-controller="typing" data-typing-strings-value= "<%= [artwork.name]"> %>
            # <%# <%= artwork.name%>
        <%# </span> %>
        <%# <p> ~ <%= artwork.artist %></p>
        <%# <% if artwork.image.attached? %>
          <%# <%= cl_image_tag artwork.image.key, height: 300, width: 400, crop: :fill%>
        <%# <% end %>
        <%# <p><%= link_to "View", artwork_path(artwork) %></p>
      <%# <% end %>
    <%# </div> %>
    <div data-controller="toggle" >
      <button data-toggle-target="button" data-action="click->toggle#fire" class="btn btn-outline-primary mb-5">Create an artwork</button>
      <div data-toggle-target="form" class="d-none">
        <%= render "form", artwork: @artwork %>
      </div>
    </div>
  </div>
</div>
